@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9FFF8;
    position: relative;
    width: 1519px;
    height: 2380px;
    display: inline-block;
}

/*header*/

.header{
    width: 100%;
    height: 240px;
}

.upper_brown{
    position: absolute;
    top: -1px;
    width: 1519px;
    height: 32px;
    background-color: #2D221E;
}

.mini_logo{
    position: absolute;
    top: 21px;
    left: 48px;
    width: 104.854px;
    height: 101px;
}

.school_name{
    position: absolute;
    top: 62px;
    left: 215px;
    color: #6F4331;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.school_address{
    position: absolute;
    top: 93px;
    left: 215px;
    color: #6F6D6C;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*navigations*/

.navigations{
    position: absolute;
    top: 151px;
    left: -1px;
    width: 1519px;
    height: 68px;
    flex-shrink: 0;
    background-image: linear-gradient(#4E9248,#307837) ;
    stroke-width: 1px;
}

.home a{
    text-decoration: none;
    position: absolute;
    left: 130px;
    padding: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about_us a{
    text-decoration: none;
    position: absolute;
    left: 302px;
    padding: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.academics a{
    text-decoration: none;
    position: absolute;
    left: 515px;
    padding: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.admissions a{
    text-decoration: none;
    position: absolute;
    left: 730px;
    padding: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news_announcements a{
    text-decoration: none;
    position: absolute;
    left: 952px;
    padding: 10px 20px 13px 20px ;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact_us a{
    text-decoration: none;
    position: absolute;
    left: 1235px;
    padding: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Hero Image */

.hero_img{
    position: relative;
    bottom: 13.5px;
    left: -1px;
    width: 1520px;
}

.welcome{
    position: absolute;
    top: 220px;
    left: 100px;
    text-align: center;
    border-radius: 25px;
    padding: 6px;
    background: rgba(230, 255, 248, .80);
    width: 370px;
    height: 127px;
    flex-shrink: 0; 
    color: #6F4331;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 1px 2px 5px black;
}

.welcome_info{
    position: absolute;
    top: 375px;
    left: 100px;
    width: 370px;
    height: 98px;
    padding: 13px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(249, 255, 248, 0.80);
    color: #6F4331;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 1px 2px 5px black;
}

/* Content2 */

.content2{
    position: absolute;
    top: 935px;
    width: 1519px;
    height: 545px;
    background-color: #D8FCD8;
}

.welcome_title{
    position: absolute;
    top: 108px;
    left: 92px;
    width: 398px;
    height: 36px;
    color: #6F4331;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.brief_welcome{
    position: absolute;
    top: 159px;
    left: 92px;
    width: 591px;
    height: 179px;
    color: #6F4331;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.button1 a{
    text-decoration: none;
    position: absolute;
    top: 365px;
    left: 92px;
    width: 182.668px;
    height: 54.626px;
    border-radius: 10px;
    background: #3B903D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.video{
    position: absolute;
    top: 80px;
    left: 820px;
    width: 605px;
    height: 379px;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}

/* Content3 */

.content3{
    position: absolute;
    bottom: 205px;
    width: 1519px;
    height: 695px;
}

.content_apply_now{
    position: absolute;
    bottom: 200px;
    left: 93px;
    width: 369.442px;
    height: 414.062px;
}

.effect1{
    position: absolute;
    bottom: 201px;
    left: 97px;
    width: 369.442px;
    height: 414.062px;
    padding: 350px 20px 13px 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: rgba(59, 144, 61, 0.40);
}

.button2 a{
    text-decoration: none;
    position: absolute;
    top: 530px;
    left: 97px;
    width: 182.668px;
    height: 54.626px;
    border-radius: 10px;
    background: #3B903D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content_academic_programs{
    position: absolute;
    bottom: 200px;
    left: 575px;
    width: 369.442px;
    height: 414.062px;
}

.effect2{
    position: absolute;
    bottom: 201px;
    left: 580px;
    width: 369.442px;
    height: 414.062px;
    padding: 315px 20px 13px 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: rgba(59, 144, 61, 0.40);
}

.button3 a{
    text-decoration: none;
    position: absolute;
    top: 530px;
    left: 580px;
    width: 182.668px;
    height: 54.626px;
    border-radius: 10px;
    background: #3B903D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content_inquiry{
    position: absolute;
    bottom: 200px;
    left: 1057px;
    width: 369.442px;
    height: 414.062px;
}

.effect3{
    position: absolute;
    bottom: 201px;
    left: 1061px;
    width: 370.442px;
    height: 414.062px;
    padding: 350px 20px 13px 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: rgba(59, 144, 61, 0.40);
}

.button4 a{
    text-decoration: none;
    position: absolute;
    top: 530px;
    left: 1061px;
    width: 182.668px;
    height: 54.626px;
    border-radius: 10px;
    background: #3B903D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 23px;
    text-align: center;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* animation */

a:hover {
    transition: 1.5s;
    color: yellow;
}

/* footer */

.footer{
    position: absolute;
    top: 2175px;
    width: 1519px;
    height: 209px;
    background-color: #2D221E;
}

.footer_mini_logo{
    position: absolute;
    top: 28px;
    left: 50px;
    width: 76px;
    height: 74px;
    flex-shrink: 0;
}

.footer_school_info{
    position: absolute;
    color: #C7C7C7;
    top: 64px;
    left: 200px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_line{
    position: absolute;
    top: 35px;
    width: 388.001px;
    height: 2px;
}

.footer_phone_icon{
    position: absolute;
    top: 30px;
    left: 1117px;
    text-align: center;
    color: #AB9388;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.phone_icon{
    position: absolute;
    left: -30px;
}

.footer_location_icon{
    position: absolute;
    top: 40px;
    left: 1117px;
    color: #AB9388;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.location_icon{
    position: absolute;
    bottom: 5px;
    left: -30px;
}

.footer_mail_icon{
    position: absolute;
    top: 90px;
    left: 1117px;
    color: #AB9388;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mail_icon{
    position: absolute;
    left: -30px;
}

.footer_fb_icon a{
    text-decoration: none;
    position: absolute;
    top: 145px;
    left: 1117px;
    color: #AB9388;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.fb_icon{
    position: absolute;
    left: -30px;
}

p:hover {
    transition: 1.5s;
    color: #FFC06E;
}

/* Scroll Up Button */

#top {
    position: absolute;
    top: 0;
    left: 0;
}
  
.btn {
    position: fixed;
    width: 50px;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.50);
    color: darkgray;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
.btn:hover {
    background: rgb(54, 134, 57, 0.50)
}